.container{
    display: grid;
    height: 7436px;
    grid-template-rows: 120px auto 350px;
}

.header{
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    margin-left: 113px;
    margin-right: 139px;

}

.header img{
    grid-column: 1/2;
    width: 162px;
    height: 63px;
}

.nav{
    grid-column: 2/3;
}

.header_list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    align-items: center;
    width: 607px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.nav_title{
    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #B08EAD;
    text-decoration: none;
}

#shopping_cart{
    width: 22px;
    height: 20px;
}

.nav_list,
.footer_list{
    list-style-type: none;
}

.main{
    grid-row: 2/3;
}

.banner{
    height: 817px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;

    background: linear-gradient(180deg, #C9ADC6 56%, #D6BBD3 44%);
}

.image_banner{
    grid-column: 2/7;
    grid-row: 1/3;
}

.square_new{
    grid-column: 2/7;
    grid-row: 1/3;
    grid-column: 5/9;
    grid-row: 1/3;

    width: 425px;
    height: 450px;

    background-color: #B08EAD;
}

.heading_square{
    margin-top: 0;
    padding-top: 124px;
    padding-left: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.square_text{
    margin-top: 10px;
    padding-left: 40px;

    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 55px;
    color: #FFFFFF;
}

.square_link{
    margin-top: 29px;
    padding-left: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.hr{
    width: 73px;
    height: 2px;
    margin: 0;
    margin-left: 40px;

    background-color: #FFFFFF;;
}

.about_me{
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-items: center;
    align-items: center;
    height: 808px;
    background: #FFFFFF;
}

.about_text{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
}

.about_me_title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #B99BB6;
}

.about_me_paragraph{
    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 38px;
    text-align: center;
    color: #5F4D5D;
}

.about_me_button{
    width: 141px;
    height: 45px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #B99BB6;

    border: 1px solid #B99BB6;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: #FFFFFF;
}
.about_cards{
    display: grid;
    width: 1215px;
    height: 427px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.card_place{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.card_signature{
    width: 368px;
    height: 113px;
    display: grid;
    grid-template-rows: 1fr 1fr;

    background-color: #CEB3CB;
}

.card_title{
    grid-row: 1/2;
    margin-top: 23px;
    margin-left: 23px;

    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}

.card_learn_more{
    grid-row: 2/3;
    margin-top: 0;
    margin-left: 23px;

    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    color: #FFFFFF;
}

.banner_about_me{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 825px;

    background-color: #CEB3CB;
}

.square_about_me{
    width: 440px;
    height: 450px;
    grid-column: 2/5;
    grid-row: 1/3;

    background: #B08EAD;
}

.portrait{
    grid-column: 4/8;
    grid-row: 1/3;
}

.description{
    height: 1651px;
    display: grid;
    justify-items: center;
    align-items: center;

    background-color: #FFFFFF;
}

.description_wrapper{
    width: 1215px;
    height: 1500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5,1fr);
    column-gap: 40px;
    align-items: center;
}

.description_row1{
    grid-column: 1/2;
    grid-row: 1/2;
}

.description_row2{
    grid-column: 2/3;
    grid-row: 3/4;
}

.description_row3{
    grid-column: 1/2;
    grid-row: 5/6;
}

.description_title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #B99BB6;
}

.description_text{
    grid-column: 1/2;

    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #5F4D5D;
}

.description_image{
    grid-column: 2/3;
}

.description_image2{
    grid-column: 1/2;
}

.description_image3{
    grid-column: 2/3;
}

.description_text2{
    grid-column: 2/3;

    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #5F4D5D;
}

.description_hr1{
    grid-column: 1/3;
    grid-row: 2/3;

    height: 1px;
    
    border: 1px solid #D7B7D4;
    background-color: #D7B7D4;
}

.description_hr2{
    grid-column: 1/3;
    grid-row: 4/5;

    height: 1px;
    
    border: 1px solid #D7B7D4;
    background-color: #D7B7D4;
}

.product_card{
    height: 1142px;
    display: grid;
    justify-items: center;
    align-items: center;

    background-color: #FFFFFF;
}

.product_card_wrapper{
    width: 1215px;
    height: 990px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    align-items: center;
}

.each_product{
    display: grid;
    grid-template-rows: auto 40px 25px;
    justify-items: center;
    align-items: center;
}

.product_title{
    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #5F4D5D;
}

.product_price{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #B0B0B0;
}

.banner_collection{
    height: 825px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    align-items: center;

    background-color: #CEB3CB;
}

.image_banner_collection{
    grid-row: 1/3;
    grid-column: 3/6;
}

.square__banner_collection{
    width: 440px;
    height: 450px;
    grid-row: 1/3;
    grid-column: 5/8;

    background: #B08EAD;
}

.form{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
    height: 568px;

    background-color: #CEB3CB;
}

.contact_title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.contact_text{
    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

.form_place{
    width: 600px;
    height: 338px;
    display: grid;
    grid-template-columns: repeat(2,300px);
    grid-template-rows: repeat(4,1fr);
    margin-top: 20px;
}

.small_input{
    width: 288px;
    height: 50px;
    grid-column: 1/3;

    font-family: Cormorant Garamond;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;

    outline: none;
    background-color: #CEB3CB;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 0px;
}

#input_company{
    margin-left: 12px;
}

#input_email{
    margin-left: 12px;
}

.small_input::placeholder{
    padding-left: 15px;
    font-family: Cormorant Garamond;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.big_input{
    width: 600px;
    height: 103px;
    grid-column: 1/3;
    grid-row: 3/4;

    font-family: Cormorant Garamond;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;


    outline: none;
    background-color: #CEB3CB;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 0px;
}

.big_input::placeholder{
    padding-left: 15px;
    font-family: Cormorant Garamond;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.contact_button{
    width: 210px;
    height: 50px;
    grid-column: 1/2;
    grid-row: 4/5;
    align-items: end;
    margin-top: 25px;

    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;

    background-color: #CEB3CB;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 0px;
}

.promotion{
    height: 160px;
    display: grid;
    grid-template-rows: 1fr 30px 1fr;
    row-gap: 7px;
    justify-items: center;
    align-items: center;
    margin-top: 75px;

}

.promotion_title{
    grid-row: 1/2;
    margin: 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #B99BB6;
}

.promotion_text{
    grid-row: 2/3;
    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #5F4D5D;
}

.promotion_form{
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
}

.promotion_input1{
    width: 208px;
    height: 60px;
    grid-column: 1/3;
    grid-row: 1/2;

    font-family: Cormorant Garamond;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #5F4D5D;
    
    outline: none;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-color: #CEB3CB;
    border-radius: 2px;
}

.promotion_input2{
    width: 208px;
    height: 60px;
    grid-column: 2/3;
    grid-row: 1/2;

    font-family: Cormorant Garamond;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #5F4D5D;
    
    outline: none;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-color: #CEB3CB;
    border-radius: 2px;
}

.promotion_input1:active{
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-color: #CEB3CB;
    border-radius: 2px;
}

.promotion_input1::placeholder{
    font-family: Cormorant Garamond;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #CEB3CB;
}

.promotion_input2::placeholder{
    font-family: Cormorant Garamond;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #CEB3CB;
}


.promotion_button{
    width: 179px;
    height: 60px;
    grid-column: 3/4;
    grid-row: 1/2;

    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;

    background: #CEB3CB;
    border: 1px solid #CEB3CB;
    border-radius: 3px;
}

.footer{
    grid-row: 3/4;
}

.information_icons{
    height: 213px;
    display: grid;
    justify-content: center;
    align-content: end;

    background-color: #D6BBD3;
}

.wrapper_information{
    width: 988px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}

.information_block{
    display: grid;
    justify-items: center;
}

.information_block_title{
    margin: 0;

    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.information_block_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.footer_nav{
    height: 137px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 1fr 30px;
    justify-items: start;
    align-items: end;


    background-color: #C9ADC6;
}

.footer_image{
    margin-left: 110px;
    grid-column: 1/2;
    grid-row: 1/2;
}

.place_footer_list{
    grid-column: 2/5;
    grid-row: 1/2;
    width: 412px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    padding-left: 0;
    margin-left: 65px;
}

.footer_nav_title{
    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    text-decoration: none;
    color: #FFFFFF;
}

.footer_facebook{
    grid-column: 7/8;
    grid-row: 1/2;
    margin-bottom: 10px;
}

.up{
    grid-column: 8/9;
    grid-row: 2/3;
}